  <div class="container m-bot" style="padding-top: 30px">
    <div class="row">
      <div class="col-md-3 m-bot">
        <div class="card rounded-0">
          <img class="card-img-top rounded-0" src="assets/images/1.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Landing page</h5>
            <p class="card-text">Landing page for repair company. Front + Back end using Node.js, MongoDB, Html 5 and CSS 3</p>
            <a href="https://github.com/DrEmbryo/layout-customers_control"><button type="text" class="btn btn-muted">GitHub link</button></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 m-bot">
        <div class="card rounded-0">
          <img class="card-img-top card rounded-0" src="assets/images/3.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Fishing supplies site</h5>
            <p class="card-text">Site for fishing supplies company. Html 5 , CSS 3 , ejs , Node.js and MySQL was used in this ptoject</p>
            <a href="https://oparysh.by/company"><button type="text" class="btn btn-muted">Link</button></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 m-bot">
        <div class="card rounded-0 m-bot">
          <img class="card-img-top card rounded-0" src="assets/images/4.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Concentration (Game)</h5>
            <p class="card-text">Simple concentration game. JavaScript + JQuery</p>
            <a href="https://github.com/DrEmbryo/Concentration-Game-JS"><button type="text" class="btn btn-muted">GitHub link</button></a>
            <a href="https://drembryo.github.io/Concentration-Game-JS/"><button type="text" class="btn btn-muted">Demo</button></a>
          </div>
        </div>
          <div class="card rounded-0">
              <img class="card-img-top card rounded-0" src="assets/images/6.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Shopping assistant app</h5>
                <p class="card-text">
                  A simple shopping application that helps you plan and track the goods you need to buy.
                  Angular 6 , Web Storage, Html 5, CSS 3</p>
                  <a href="https://github.com/DrEmbryo/shopping-list"><button type="text" class="btn btn-muted">GitHub link</button></a>
                  <a href="https://drembryo.github.io/shopping-list/"><button type="text" class="btn btn-muted">Demo</button></a>
              </div>
            </div>
          </div>

      <div class="col-md-3 m-bot">
        <div class="card rounded-0 m-bot">
          <img class="card-img-top card rounded-0" src="assets/images/2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">JS slider</h5>
            <p class="card-text">Simple JavaScript slider with a bit of JQuery</p>
            <a href="https://github.com/DrEmbryo/JS-slider"><button type="text" class="btn btn-muted">GitHub link</button></a>
          </div>
        </div>
        <div class="card rounded-0">
            <img class="card-img-top card rounded-0" src="assets/images/5.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">LocalStorage Arrays</h5>
              <p class="card-text">A tiny localStorage Wrapper.</p>
              <a href="https://github.com/DrEmbryo/LSA"><button type="text" class="btn btn-muted">GitHub link</button></a>
            </div>
          </div>
      </div>
    </div>
  </div>